body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px; /* Added padding for better spacing */
}

h1 {
    color: #e67e22; /* Customize as needed */
}

h2 {
    color: #333; /* Customize as needed */
}

input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #e67e22; /* Customize border color */
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background-color: #e67e22; /* Customize button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #d35400; /* Customize hover color */
}

#hint {
    margin-top: 10px;
    color: #e67e22; /* Customize as needed */
}

/* Style for the GIF */
.gif-small {
    max-width: 300px; /* Max width of the GIF */
    width: 100%; /* Makes the GIF responsive */
    margin: 20px auto; /* Center the GIF */
    display: block; /* Ensure it behaves like a block element */
}
